# =============== #
# Unity generated #
# =============== #
MainProject/Temp/
MainProject/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
MainProject/.vscode/settings.json
MainProject/Assembly-CSharp-Editor-firstpass.csproj
MainProject/Assembly-CSharp-Editor.csproj
MainProject/Assembly-CSharp-firstpass.csproj
MainProject/Assembly-CSharp.csproj
MainProject/Assets/Fungus/EditorResources/FungusEditorResources.asset
MainProject/MainProject.sln
